<p><a href=../wmlclient>Volver al inicio</a></p>
<h3>GetSitesByBoxObject</h3>
<div>
	<form id=getsoap onsubmit="getsoap();return false">
		<label for="endpoint">Service endpoint</label>
		<input type=text title="WaterOneFlow WaterML Service URL" name=endpoint id=endpoint value={{endpoint}} /><br>
		<label for="north">north</label>
		<input type=text title="latitude of north bound" name=north value=-18 /><br>
		<label for="south">south</label>
		<input type=text title="latitude of south bound" name=south value=-20 /><br>
		<label for="east">east</label>
		<input type=text title="longitude of east bound" name=east value=-57 /><br>
		<label for="west">west</label>
		<input type=text title="longitude of west bound" name=west value=-59 /><br>
	<!--
		<input type=radio name=accion value=downloadraw>Descargar archivo WaterML</input><br>
		<input type=radio name=accion value=download>Descargar archivo JSON</input><br>
		<input type=radio name=accion value=listado selected>Ver listado aquí</input><br>
		<input type=radio name=accion value=insert>Insertar en base de datos</input><br>
	-->
		<input type=submit />
	</form>
</div>
<div id=action2>
	<h4 id=action2title></h4>
	<button class=action2 type=button id=list disabled>View result list</button><span> </span>
	<a class=action2  id=xml download="sites.waterml">Download WaterML</a><span> </span>
	<a class=action2  id=json download="sites.json">Download JSON</a><span> </span>
	<a class=action2  id=csv download="sites.csv">Download CSV</a><span> </span>
</div>
<div id=list>
</div>
